################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

src/bin/
src/packages/
src/Tray.Observers/obj/
src/Tray.Observers.Tests/obj/
.vs/*
.idea/
*.suo
*.user
*.DotSettings
